# PROJECT 1

Training the model

In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [4]:
titanic_train=pd.read_csv("train.csv")
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
titanic_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [6]:
titanic_train["Age"].mean()

32.69985376827896

In [7]:
new_age_var=np.where(titanic_train["Age"].isnull(),28,titanic_train["Age"])

In [8]:
titanic_train["Age"]=new_age_var

In [60]:
label_encoder=preprocessing.LabelEncoder()
encoded_sex=label_encoder.fit_transform(titanic_train["Sex"])

In [61]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [15]:
tree_model=tree.DecisionTreeClassifier()

In [17]:
predictors=pd.DataFrame([encoded_sex,titanic_train["Age"],titanic_train["Fare"]]).T

In [18]:
tree_model.fit(X=predictors,y=titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [22]:
with open("Dtree.dot","w") as f:
    f=tree.export_graphviz(tree_model,feature_names=["sex","Age","Fare"],out_file=f);

In [32]:
tree_model.score(X=predictors,y=titanic_train["Survived"])

0.9763779527559056

97 % accuracy is the model

Testing the model

In [25]:
titanic_test=pd.read_csv("test.csv")
titanic_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S

In [28]:
new_age_var=np.where(titanic_test["Age"].isnull(),28,titanic_test["Age"])

In [27]:
titanic_test["Age"]=new_age_var

In [29]:
encoded_sex_test=label_encoder.fit_transform(titanic_test["Sex"])

In [30]:
test_features=pd.DataFrame([encoded_sex_test,titanic_test["Age"],titanic_test["Fare"]]).T

test_predec=tree_model.predict(X=test_features)

Predicteds_Output=pd.DataFrame({"PassengerId":titanic_test["PassengerId"],"Survived":test_predec})

Predicteds_Output.to_csv("Output.csv",index=False);

# Project 2

In [5]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [11]:
cd

C:\Users\ADMIN

In [12]:
data=pd.read_csv("general_data.csv")
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [13]:
label_encoder=preprocessing.LabelEncoder()
data["Attrition"]=label_encoder.fit_transform(data["Attrition"])

In [14]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [15]:
data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [18]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=4,oob_score=True)

In [19]:
features=["Age","Education","DistanceFromHome","PercentSalaryHike"]

In [20]:
rf_model.fit(X=data[features],y=data["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=4,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [21]:
print("OOB Accuracy:")
print(rf_model.oob_score_);

OOB Accuracy:
0.9857142857142858

In [22]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

Age 0.3254681042781729
Education 0.15306017954501877
DistanceFromHome 0.274310367705281
PercentSalaryHike 0.24716134847152732

Here Age,DistanceFromHome have higher impact than Education. So we take these variables as independent variables ignoring education.

In [23]:
tree_model=tree.DecisionTreeClassifier()

In [24]:
predictors=pd.DataFrame([data["Age"],data["DistanceFromHome"],data["PercentSalaryHike"]]).T

In [25]:
tree_model.fit(X=predictors,y=data["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [26]:
with open("Dtree1.dot","w") as f:
    f=tree.export_graphviz(tree_model,feature_names=["Age","DistanceFromHome","PercentSalaryHike"],out_file=f);

In [27]:
tree_model.score(X=predictors,y=data["Attrition"])

0.9741496598639455

97 % Accuracy is this model

# Project 3

In [28]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [29]:
data1=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)
data1.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [30]:
data1.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=3,oob_score=True)

In [33]:
features=["Age","Experience","Income"]

In [37]:
rf_model.fit(X=data1[features],y=data1["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=3,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [38]:
print("OOB Accuracy:")
print(rf_model.oob_score_);

OOB Accuracy:
0.8984

In [39]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

Age 0.20472090477075866
Experience 0.19682292511069646
Income 0.5984561701185449

Income shows highest significant impact in deciding factor of whether loan is to approve or not

In [40]:
tree_model=tree.DecisionTreeClassifier()

In [43]:
predictors=pd.DataFrame([data1["Income"]]).T

In [44]:
tree_model.fit(X=predictors,y=data1["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [45]:
with open("Dtree2.dot","w") as f:
    f=tree.export_graphviz(tree_model,feature_names=["Income"],out_file=f);

In [46]:
tree_model.score(X=predictors,y=data1["Personal Loan"])

0.9172

91 % Accuracy is this model